@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-primary: #d3a438;
  --color-primary-light: #f3e2a9;
  --color-primary-dark: #a67c2a;
  --color-secondary-light: #2f2a1f;
  --color-secondary-dark: #0f0e0b;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a1813;

  --font-poppins: Poppins, sans-serif;
  --font-family-base: "Poppins", Arial, sans-serif;
}

.dark {
  /* Dark mode specific variables */
  --ui-bg: var(
    --color-gray-900
  ); /* Example: Change background color in dark mode */
  /* Example: Change primary color shade in dark mode */
  --ui-color-neutral-900: #1a1a1a; /* Example: Override a specific neutral shade */
}
